{
  "singleQuote": true,
  "bracketSpacing": true,
  "jsxBracketSameLine": true,
  "trailingComma": "all",
  "tabWidth": 2,
  "printWidth": 120,
  "importOrder": [
    "<THIRD_PARTY_MODULES>",

    "^@app/web/(components|hooks|features|assets|lib|shared|stores|types|utils)",

    "^@packages/database/(.*)$",
    "^@packages/shared/(.*)$",

    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
