@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Light Mode - Backgrounds */
  --bg-layer-0: #f0f2f5;
  --bg-layer-1: #ffffff;
  --bg-layer-2: #f7f8fa;
  --bg-layer-3: #c7d2fe;

  /* Light Mode - Text */
  --main: #9470dc;
  --foreground: #000000;
  --foreground-muted: #475465;
  --gray: #999999;
  --blue: #0894e2;
  --red: #db2840;

  /* Light Mode - Other */
  --skeleton-primary: #e8e8e8;
}

html.dark {
  /* Dark Mode - Backgrounds */
  --bg-layer-0: #111114;
  --bg-layer-1: #16171b;
  --bg-layer-2: #27272e;
  --bg-layer-3: #c7d2fe;

  /* Dark Mode - Text */
  --main: #9470dc;
  --foreground: #e3e3e5;
  --foreground-muted: #98999e;
  --gray: #a1a1aa;
  --blue: #60a5fa;
  --red: #f87171;

  /* Dark Mode - Other */
  --skeleton-primary: #35353a;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

*::-webkit-scrollbar {
  display: none;
}

/* @supports (-webkit-touch-callout: none) {
  * {
    min-height: -webkit-fill-available;
    height: -webkit-fill-available;
  }
} */

body {
  background: var(--bg-layer-0);
  background-attachment: fixed;
  min-height: 100dvh;
}

header {
  position: fixed;
  width: 100%;
  max-width: 1920px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 30;
}

main {
  min-width: 256px;
  max-width: 1920px;
  min-height: 100dvh;
  margin: 0 auto;
  position: relative;
  background: transparent;
}

footer {
  position: fixed;
  width: 100vw;
  min-width: 256px;
  bottom: 0;
  z-index: 30;
}

input,
button,
textarea,
select,
label,
li,
svg {
  cursor: pointer;
}

input {
  width: 100%;
  border-width: 1px;
  border-radius: 0.25rem;
  padding: 0.75rem 1rem;
}

select,
textarea {
  width: 100%;
  border-width: 1px;
  border-radius: 0.25rem;
  border-color: rgb(209 213 219);
  padding: 0.75rem 1rem;
  resize: none;
}

button {
  width: 100%;
  border-radius: 0.25rem;
  padding: 0.75rem 0;
}

@media screen and (max-width: 767px) {
  header {
    padding: 0.75rem 1rem;
  }
  main {
    padding: 4rem 1rem;
  }
  footer {
    padding: 0 1rem;
  }
}

@media screen and (min-width: 768px) {
  header {
    padding: 0.5rem 2rem;
  }
  main {
    padding: 5rem 2rem;
  }
}
