@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-layer-0: #f2f4f5;
  --bg-layer-1: #ffffff;
  --bg-layer-2: #f2f4f5;

  --modal-bg-layer: #ffffff;
  --modal-bg-btn-left: #f2f3f6;
  --modal-bg-btn-right: #8f72d6;

  --border-0: #d1d5db;

  --main: #8f72d6;
  --foreground: #000000;
  --white: #ffffff;
  --black: #000000;
  --gray: #86888f;
  --blue: #6487cf;
  --red: #db2840;
}

html.dark {
  --bg-layer-0: #17171c;
  --bg-layer-1: #202026;
  --bg-layer-2: #2c2c34;

  --modal-bg: #2c2e33;
  --modal-btn-left: #424348;
  --modal-btn-right: #8f72d6;

  --border-0: #d1d5db;

  --main: #8f72d6;
  --foreground: #f4f5f8;
  --white: #ffffff;
  --black: #000000;
  --gray: #b3b4ba;
  --blue: #4c7cc6;
  --red: #f87171;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

*::-webkit-scrollbar {
  display: none;
}

/* @supports (-webkit-touch-callout: none) {
  * {
    min-height: -webkit-fill-available;
    height: -webkit-fill-available;
  }
} */

body {
  background: var(--bg-layer-0);
  background-attachment: fixed;
  min-height: 100dvh;
}

header {
  position: fixed;
  width: 100%;
  max-width: 1920px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 30;
}

main {
  min-width: 256px;
  max-width: 1920px;
  min-height: 100dvh;
  margin: 0 auto;
  position: relative;
  background: transparent;
}

footer {
  position: fixed;
  width: 100vw;
  min-width: 256px;
  bottom: 0;
  z-index: 30;
}

input,
button,
textarea,
select,
label,
li,
svg {
  cursor: pointer;
}

input {
  width: 100%;
  /* border-width: 1px; */
  border-radius: 0.25rem;
  padding: 0.75rem 1rem;
}

select,
textarea {
  width: 100%;
  /* border-width: 1px; */
  border-radius: 0.25rem;
  padding: 0.75rem 1rem;
  resize: none;
}

button {
  width: 100%;
  border-radius: 0.25rem;
  padding: 0.75rem 0;
}

@media screen and (max-width: 767px) {
  header {
    padding: 0.75rem 1rem;
  }
  main {
    padding: 4rem 1rem;
  }
  footer {
    padding: 0 1rem;
  }
}

@media screen and (min-width: 768px) {
  header {
    padding: 0.5rem 2rem;
  }
  main {
    padding: 5rem 2rem;
  }
}
